<div class="dialog-header">
  <h2 mat-dialog-title>{{customerData?.customerId > 0 ? 'Edit Customer' : 'Add Customer'}}</h2>
  <hr>
</div>
<form [formGroup]="customerForm" (ngSubmit)="submitCustomerForm()">
  <div class="dialog-content-scroll">
    <mat-dialog-content>
    <div>
      <mat-form-field class="w-100">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-error
        *ngIf="submitted && customerForm.get('firstName')?.hasError('required')"
      >
        First Name is required.
      </mat-error>
    </div>
    <div>
      <mat-form-field class="w-100">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
      <mat-error
        *ngIf="submitted && customerForm.get('lastName')?.hasError('required')"
      >
        Last Name is required.
      </mat-error>
    </div>
    <div>
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-error
        *ngIf="submitted && customerForm.get('email')?.hasError('required')"
      >
        Email is required.
      </mat-error>
      <mat-error
        *ngIf="submitted && !(customerForm.get('email')?.hasError('required')) && customerForm.get('email')?.hasError('email')"
      >
        Email is not valid.
      </mat-error>
    </div>
    <div>
      <mat-form-field class="w-100">
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNumber" />
      </mat-form-field>
      <mat-error
        *ngIf="submitted && customerForm.get('mobileNumber')?.hasError('required')"
      >
        Mobile Number is required.
      </mat-error>
    </div>
    </mat-dialog-content>
  </div>
  <mat-dialog-actions class="dialog-actions-fixed">
    <button
      class="btn btn-danger me-2"
      type="button"
      (click)="closeDialog(false)"
    >
      Close
    </button>
    <button class="btn btn-primary" type="submit" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</form>
