<div class="sidebar">
  <nav aria-label="Main navigation">
    <ul class="sidebar-nav">
      <li class="sidebar-header">
        <button
          class="menu-toggle"
          (click)="toggleSidebar($event)"
          aria-label="Toggle menu"
        >
          <i class="fas fa-bars"></i>
          <span class="menu-text">Menu</span>
        </button>
      </li>
      <li class="nav-item">
        <a routerLink="/dashboard" class="nav-link" routerLinkActive="active">
          <i class="fa-solid fa-gauge-high"></i>
          <span class="link-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/users" class="nav-link" routerLinkActive="active">
          <i class="fa-solid fa-user-group"></i>
          <span class="link-text">Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/category" class="nav-link" routerLinkActive="active">
          <i class="fa-solid fa-layer-group"></i>
          <span class="link-text">Category</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/product" class="nav-link" routerLinkActive="active">
          <i class="fa-solid fa-box-open"></i>
          <span class="link-text">Product</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/customers" class="nav-link" routerLinkActive="active">
          <i class="fa-solid fa-handshake"></i>
          <span class="link-text">Customers</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/orders" class="nav-link" routerLinkActive="active">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="link-text">Orders</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact-us" class="nav-link" routerLinkActive="active">
          <i class="fa-solid fa-envelope"></i>
          <span class="link-text">Contact Us</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/coupon" class="nav-link" routerLinkActive="active">
          <i class="fa-solid fa-percent"></i>
          <span class="link-text">Coupon</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
