/* Ensure full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Make the app container a flex column */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.mat-mdc-paginator .mat-mdc-select {
    text-align: center !important;
}

mat-error{
  color:red !important;
}

.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before{
  display: none !important;
}